@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <link rel="shortcut icon" href="assets/images/favicon.ico">
		<script src="~/js/head.js"></script>
		<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="app-style">
		<link href="~/css/app.min.css" rel="stylesheet" type="text/css">
		<link href="~/css/icons.min.css" rel="stylesheet" type="text/css">
</head>
    <body class="show">
        <div id="wrapper">
                    @Html.Partial("menu")
            <div class="content-page">
                   @Html.Partial("navbar")
                      <div class="content">
                        <div class="container-fluid">
                           @RenderBody()
                        </div>
                    </div>
                @Html.Partial("footer")
            </div>
        </div>
        <script src="~/js/vendor.min.js"></script>
        <script src="~/js/app.min.js"></script>
</body> 
</div>
