  <div class="app-menu menuitem-active">

                <!-- Brand Logo -->
                <div class="logo-box">
                    <!-- Brand Logo Light -->
                    <a href="index.html" class="logo-light">
                        <img src="assets/images/logo-light.png" alt="logo" class="logo-lg">
                        <img src="assets/images/logo-sm.png" alt="small logo" class="logo-sm">
                    </a>

                    <!-- Brand Logo Dark -->
                    <a href="index.html" class="logo-dark">
                        <img src="assets/images/logo-dark.png" alt="dark logo" class="logo-lg">
                        <img src="assets/images/logo-sm.png" alt="small logo" class="logo-sm">
                    </a>
                </div>

                <!-- menu-left -->
                <div class="scrollbar show h-100" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">

                    <!-- User box -->
                    <div class="user-box text-center">
                        <img src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle avatar-md">
                        <div class="dropdown">
                            <a href="javascript: void(0);" class="dropdown-toggle h5 mb-1 d-block" data-bs-toggle="dropdown">Geneva Kennedy</a>
                            <div class="dropdown-menu user-pro-dropdown">

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-user me-1"></i>
                                    <span>My Account</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-settings me-1"></i>
                                    <span>Settings</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-lock me-1"></i>
                                    <span>Lock Screen</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-log-out me-1"></i>
                                    <span>Logout</span>
                                </a>

                            </div>
                        </div>
                        <p class="text-muted mb-0">Admin Head</p>
                    </div>

                    <!--- Menu -->
                    <ul class="menu">
<li class="menu-title">Navigation</li>

                        <li class="menu-item">
                            <a href="#menuDashboards" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></span>
                                <span class="menu-text"> Dashboards </span>
                                <span class="badge bg-success rounded-pill ms-auto">4</span>
                            </a>
                            <div class="collapse" id="menuDashboards">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="index.html" class="menu-link">
                                            <span class="menu-text">Dashboard 1</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="dashboard-2.html" class="menu-link">
                                            <span class="menu-text">Dashboard 2</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="dashboard-3.html" class="menu-link">
                                            <span class="menu-text">Dashboard 3</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="dashboard-4.html" class="menu-link">
                                            <span class="menu-text">Dashboard 4</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-title">Apps</li>

                        <li class="menu-item">
                            <a href="apps-calendar.html" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                <span class="menu-text"> Calendar </span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="apps-chat.html" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg></span>
                                <span class="menu-text"> Chat </span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="#menuEcommerce" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg></span>
                                <span class="menu-text"> Ecommerce </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuEcommerce">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="ecommerce-dashboard.html" class="menu-link">
                                            <span class="menu-text">Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ecommerce-products.html" class="menu-link">
                                            <span class="menu-text">Products</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ecommerce-product-detail.html" class="menu-link">
                                            <span class="menu-text">Product Detail</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ecommerce-product-edit.html" class="menu-link">
                                            <span class="menu-text">Add Product</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ecommerce-customers.html" class="menu-link">
                                            <span class="menu-text">Customers</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ecommerce-orders.html" class="menu-link">
                                            <span class="menu-text">Orders</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ecommerce-order-detail.html" class="menu-link">
                                            <span class="menu-text">Order Detail</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ecommerce-sellers.html" class="menu-link">
                                            <span class="menu-text">Sellers</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ecommerce-cart.html" class="menu-link">
                                            <span class="menu-text">Shopping Cart</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ecommerce-checkout.html" class="menu-link">
                                            <span class="menu-text">Checkout</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuCrm" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></span>
                                <span class="menu-text"> CRM </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuCrm">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="crm-dashboard.html" class="menu-link">
                                            <span class="menu-text">Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="crm-contacts.html" class="menu-link">
                                            <span class="menu-text">Contacts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="crm-opportunities.html" class="menu-link">
                                            <span class="menu-text">Opportunities</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="crm-leads.html" class="menu-link">
                                            <span class="menu-text">Leads</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="crm-customers.html" class="menu-link">
                                            <span class="menu-text">Customers</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuEmail" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></span>
                                <span class="menu-text"> Email </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuEmail">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="email-inbox.html" class="menu-link">
                                            <span class="menu-text">Inbox</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="email-read.html" class="menu-link">
                                            <span class="menu-text">Read Email</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="email-compose.html" class="menu-link">
                                            <span class="menu-text">Compose Email</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="email-templates.html" class="menu-link">
                                            <span class="menu-text">Email Templates</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="apps-social-feed.html" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></span>
                                <span class="menu-text"> Social Feed </span>
                                <span class="badge bg-pink ms-auto">Hot</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="apps-companies.html" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg></span>
                                <span class="menu-text"> Companies </span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="#menuProjects" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg></span>
                                <span class="menu-text"> Projects </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuProjects">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="project-list.html" class="menu-link">
                                            <span class="menu-text">List</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="project-detail.html" class="menu-link">
                                            <span class="menu-text">Detail</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="project-create.html" class="menu-link">
                                            <span class="menu-text">Create Project</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuTasks" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg></span>
                                <span class="menu-text"> Tasks </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuTasks">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="task-list.html" class="menu-link">
                                            <span class="menu-text">List</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="task-details.html" class="menu-link">
                                            <span class="menu-text">Details</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="task-kanban-board.html" class="menu-link">
                                            <span class="menu-text">Kanban Board</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuContacts" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg></span>
                                <span class="menu-text"> Contacts </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuContacts">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="contacts-list.html" class="menu-link">
                                            <span class="menu-text">Members List</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="contacts-profile.html" class="menu-link">
                                            <span class="menu-text">Profile</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuTickets" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-aperture"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg></span>
                                <span class="menu-text"> Tickets </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuTickets">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="tickets-list.html" class="menu-link">
                                            <span class="menu-text">List</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tickets-detail.html" class="menu-link">
                                            <span class="menu-text">Detail</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="apps-file-manager.html" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder-plus"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path><line x1="12" y1="11" x2="12" y2="17"></line><line x1="9" y1="14" x2="15" y2="14"></line></svg></span>
                                <span class="menu-text"> File Manager </span>
                            </a>
                        </li>

                        <li class="menu-title">Custom</li>

                        <li class="menu-item">
                            <a href="#menuAuth" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg></span>
                                <span class="menu-text"> Auth Pages </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse collapse-md" id="menuAuth">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="auth-login.html" class="menu-link">
                                            <span class="menu-text">Log In</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-login-2.html" class="menu-link">
                                            <span class="menu-text">Log In 2</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-register.html" class="menu-link">
                                            <span class="menu-text">Register</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-register-2.html" class="menu-link">
                                            <span class="menu-text">Register 2</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-signin-signup.html" class="menu-link">
                                            <span class="menu-text">Signin - Signup</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-signin-signup-2.html" class="menu-link">
                                            <span class="menu-text">Signin - Signup 2</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-recoverpw.html" class="menu-link">
                                            <span class="menu-text">Recover Password</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-recoverpw-2.html" class="menu-link">
                                            <span class="menu-text">Recover Password 2</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-lock-screen.html" class="menu-link">
                                            <span class="menu-text">Lock Screen</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-lock-screen-2.html" class="menu-link">
                                            <span class="menu-text">Lock Screen 2</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-logout.html" class="menu-link">
                                            <span class="menu-text">Logout</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-logout-2.html" class="menu-link">
                                            <span class="menu-text">Logout 2</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-confirm-mail.html" class="menu-link">
                                            <span class="menu-text">Confirm Mail</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-confirm-mail-2.html" class="menu-link">
                                            <span class="menu-text">Confirm Mail 2</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuExpages" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg></span>
                                <span class="menu-text"> Extra Pages </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuExpages">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="pages-starter.html" class="menu-link">
                                            <span class="menu-text">Starter</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-timeline.html" class="menu-link">
                                            <span class="menu-text">Timeline</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-sitemap.html" class="menu-link">
                                            <span class="menu-text">Sitemap</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-invoice.html" class="menu-link">
                                            <span class="menu-text">Invoice</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-faqs.html" class="menu-link">
                                            <span class="menu-text">FAQs</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-search-results.html" class="menu-link">
                                            <span class="menu-text">Search Results</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-pricing.html" class="menu-link">
                                            <span class="menu-text">Pricing</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-maintenance.html" class="menu-link">
                                            <span class="menu-text">Maintenance</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-coming-soon.html" class="menu-link">
                                            <span class="menu-text">Coming Soon</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-gallery.html" class="menu-link">
                                            <span class="menu-text">Gallery</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-404.html" class="menu-link">
                                            <span class="menu-text">Error 404</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-404-two.html" class="menu-link">
                                            <span class="menu-text">Error 404 Two</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-404-alt.html" class="menu-link">
                                            <span class="menu-text">Error 404-alt</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-500.html" class="menu-link">
                                            <span class="menu-text">Error 500</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-500-two.html" class="menu-link">
                                            <span class="menu-text">Error 500 Two</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuLayouts" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg></span>
                                <span class="menu-text"> Layouts </span>
                                <span class="badge bg-blue ms-auto">New</span>
                            </a>
                            <div class="collapse" id="menuLayouts">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="layouts-horizontal.html" target="_blank" class="menu-link">
                                            <span class="menu-text">Horizontal</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="layouts-detached.html" target="_blank" class="menu-link">
                                            <span class="menu-text">Detached</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="layouts-two-column.html" target="_blank" class="menu-link">
                                            <span class="menu-text">Two Column Menu</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="layouts-two-tone-icons.html" target="_blank" class="menu-link">
                                            <span class="menu-text">Two Tones Icons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="layouts-preloader.html" target="_blank" class="menu-link">
                                            <span class="menu-text">Preloader</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-title">Components</li>

                        <li class="menu-item menuitem-active">
                            <a href="#menuBaseui" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pocket"><path d="M4 3h16a2 2 0 0 1 2 2v6a10 10 0 0 1-10 10A10 10 0 0 1 2 11V5a2 2 0 0 1 2-2z"></path><polyline points="8 10 12 14 16 10"></polyline></svg></span>
                                <span class="menu-text"> Base UI </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse collapse-md show" id="menuBaseui">
                                <ul class="sub-menu">
                                    <li class="menu-item menuitem-active">
                                        <a href="ui-buttons.html" class="menu-link active">
                                            <span class="menu-text">Buttons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-cards.html" class="menu-link">
                                            <span class="menu-text">Cards</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-avatars.html" class="menu-link">
                                            <span class="menu-text">Avatars</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-portlets.html" class="menu-link">
                                            <span class="menu-text">Portlets</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-tabs-accordions.html" class="menu-link">
                                            <span class="menu-text">Tabs &amp; Accordions</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-modals.html" class="menu-link">
                                            <span class="menu-text">Modals</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-progress.html" class="menu-link">
                                            <span class="menu-text">Progress</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-notifications.html" class="menu-link">
                                            <span class="menu-text">Notifications</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-offcanvas.html" class="menu-link">
                                            <span class="menu-text">Offcanvas</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-placeholders.html" class="menu-link">
                                            <span class="menu-text">Placeholders</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-spinners.html" class="menu-link">
                                            <span class="menu-text">Spinners</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-images.html" class="menu-link">
                                            <span class="menu-text">Images</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-carousel.html" class="menu-link">
                                            <span class="menu-text">Carousel</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-list-group.html" class="menu-link">
                                            <span class="menu-text">List Group</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-video.html" class="menu-link">
                                            <span class="menu-text">Embed Video</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-dropdowns.html" class="menu-link">
                                            <span class="menu-text">Dropdowns</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-ribbons.html" class="menu-link">
                                            <span class="menu-text">Ribbons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-tooltips-popovers.html" class="menu-link">
                                            <span class="menu-text">Tooltips &amp; Popovers</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-general.html" class="menu-link">
                                            <span class="menu-text">General UI</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-typography.html" class="menu-link">
                                            <span class="menu-text">Typography</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-grid.html" class="menu-link">
                                            <span class="menu-text">Grid</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuExtendedui" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg></span>
                                <span class="menu-text"> Extended UI </span>
                                <span class="badge bg-info ms-auto">Hot</span>
                            </a>
                            <div class="collapse" id="menuExtendedui">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="extended-nestable.html" class="menu-link">
                                            <span class="menu-text">Nestable List</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-range-slider.html" class="menu-link">
                                            <span class="menu-text">Range Slider</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-dragula.html" class="menu-link">
                                            <span class="menu-text">Dragula</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-animation.html" class="menu-link">
                                            <span class="menu-text">Animation</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-sweet-alert.html" class="menu-link">
                                            <span class="menu-text">Sweet Alert</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-tour.html" class="menu-link">
                                            <span class="menu-text">Tour Page</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-scrollspy.html" class="menu-link">
                                            <span class="menu-text">Scrollspy</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-loading-buttons.html" class="menu-link">
                                            <span class="menu-text">Loading Buttons</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="widgets.html" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gift"><polyline points="20 12 20 22 4 22 4 12"></polyline><rect x="2" y="7" width="20" height="5"></rect><line x1="12" y1="22" x2="12" y2="7"></line><path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path><path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path></svg></span>
                                <span class="menu-text"> Widgets </span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="#menuIcons" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cpu"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="14" x2="4" y2="14"></line></svg></span>
                                <span class="menu-text"> Icons </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuIcons">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="icons-material-symbols.html" class="menu-link">
                                            <span class="menu-text">Material Symbols </span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-two-tone.html" class="menu-link">
                                            <span class="menu-text">Two Tone Icons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-feather.html" class="menu-link">
                                            <span class="menu-text">Feather Icons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-mdi.html" class="menu-link">
                                            <span class="menu-text">Material Design Icons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-dripicons.html" class="menu-link">
                                            <span class="menu-text">Dripicons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-font-awesome.html" class="menu-link">
                                            <span class="menu-text">Font Awesome 5</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-themify.html" class="menu-link">
                                            <span class="menu-text">Themify</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-simple-line.html" class="menu-link">
                                            <span class="menu-text">Simple Line</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-weather.html" class="menu-link">
                                            <span class="menu-text">Weather</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuForms" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg></span>
                                <span class="menu-text"> Forms </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuForms">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="forms-elements.html" class="menu-link">
                                            <span class="menu-text">General Elements</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-advanced.html" class="menu-link">
                                            <span class="menu-text">Advanced</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-validation.html" class="menu-link">
                                            <span class="menu-text">Validation</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-pickers.html" class="menu-link">
                                            <span class="menu-text">Pickers</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-wizard.html" class="menu-link">
                                            <span class="menu-text">Wizard</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-masks.html" class="menu-link">
                                            <span class="menu-text">Masks</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-quilljs.html" class="menu-link">
                                            <span class="menu-text">Quilljs Editor</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-file-uploads.html" class="menu-link">
                                            <span class="menu-text">File Uploads</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-x-editable.html" class="menu-link">
                                            <span class="menu-text">X Editable</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-image-crop.html" class="menu-link">
                                            <span class="menu-text">Image Crop</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuTables" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg></span>
                                <span class="menu-text"> Tables </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuTables">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="tables-basic.html" class="menu-link">
                                            <span class="menu-text">Basic Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-datatables.html" class="menu-link">
                                            <span class="menu-text">Data Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-editable.html" class="menu-link">
                                            <span class="menu-text">Editable Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-responsive.html" class="menu-link">
                                            <span class="menu-text">Responsive Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-footables.html" class="menu-link">
                                            <span class="menu-text">FooTable</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-bootstrap.html" class="menu-link">
                                            <span class="menu-text">Bootstrap Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-tablesaw.html" class="menu-link">
                                            <span class="menu-text">Tablesaw Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-jsgrid.html" class="menu-link">
                                            <span class="menu-text">JsGrid Tables</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuCharts" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg></span>
                                <span class="menu-text"> Charts </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuCharts">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="charts-apex.html" class="menu-link">
                                            <span class="menu-text">Apex Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-flot.html" class="menu-link">
                                            <span class="menu-text">Flot Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-morris.html" class="menu-link">
                                            <span class="menu-text">Morris Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-chartjs.html" class="menu-link">
                                            <span class="menu-text">Chartjs Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-peity.html" class="menu-link">
                                            <span class="menu-text">Peity Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-chartist.html" class="menu-link">
                                            <span class="menu-text">Chartist Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-c3.html" class="menu-link">
                                            <span class="menu-text">C3 Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-sparklines.html" class="menu-link">
                                            <span class="menu-text">Sparklines Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-knob.html" class="menu-link">
                                            <span class="menu-text">Jquery Knob Charts</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuMaps" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg></span>
                                <span class="menu-text"> Maps </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuMaps">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="maps-google.html" class="menu-link">
                                            <span class="menu-text">Google Maps</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="maps-vector.html" class="menu-link">
                                            <span class="menu-text">Vector Maps</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="maps-mapael.html" class="menu-link">
                                            <span class="menu-text">Mapael Maps</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuMultilevel" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg></span>
                                <span class="menu-text"> Multi Level </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuMultilevel">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="#menuMultilevel2" data-bs-toggle="collapse" class="menu-link">
                                            <span class="menu-text"> Second Level </span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuMultilevel2">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="javascript: void(0);" class="menu-link">
                                                        <span class="menu-text">Item 1</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="javascript: void(0);" class="menu-link">
                                                        <span class="menu-text">Item 2</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="menu-item">
                                        <a href="#menuMultilevel3" data-bs-toggle="collapse" class="menu-link">
                                            <span class="menu-text">Third Level</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuMultilevel3">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="javascript: void(0);" class="menu-link">
                                                        <span class="menu-text">Item 1</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#menuMultilevel4" data-bs-toggle="collapse" class="menu-link">
                                                        <span class="menu-text">Item 2</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="menuMultilevel4">
                                                        <ul class="sub-menu">
                                                            <li class="menu-item">
                                                                <a href="javascript: void(0);" class="menu-link">
                                                                    <span class="menu-text">Item 1</span>
                                                                </a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="javascript: void(0);" class="menu-link">
                                                                    <span class="menu-text">Item 2</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                     <!--- End Menu -->
                    <div class="clearfix"></div>
                </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 1977px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 407px; transform: translate3d(0px, 266px, 0px); display: block;"></div></div></div>
            </div>